<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao_interface.Tickets">
	 <resultMap id="ResultMap" type="model.Ticket">
        <id column="id" property="id"/>
        <result column="price" property="price"/>
        <result column="descration" property="descration"/>   
        <result column="image" property="image"/>
        <result column="introducation" property="introducation"/>
    </resultMap> 
  <select id="showAllTickets" resultMap="ResultMap">
        SELECT * FROM ticket
   </select>
    <select id="detail" resultMap="ResultMap">
        SELECT * FROM ticket where id=#{tId}
   </select>
</mapper>