<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao_interface.UserInf">
	 <resultMap id="BaseResultMap" type="model.User">
        <id column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="nickName" property="nickName" jdbcType="VARCHAR"/>
        <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR"/>
    </resultMap>
  <select id="login" parameterType="Map" resultMap="BaseResultMap">
        select * from user where userName=#{account} and password=#{password};
        <!-- update user set loginFlag=1 where userName=#{account} and password=#{password} -->
    </select>
    
    <!-- 获取用户的登陆状态 -->
    <select id="is_login" parameterType="Map" resultType="Integer">
    	select loginFlag from user where openid=#{openid}
    </select>
    <!-- 保存用户信息 -->
    <insert id="saveInfo" useGeneratedKeys="true" parameterType="model.UserInfo">
    	insert into user_info(openid,nickName,avatarUrl,province,city) values (#{openid},#{nickName},#{avatarUrl},#{province},#{city})
    </insert>
    
    <!-- 获取用户信息 -->
    <select id="getInfo" parameterType="Map" resultType="model.UserInfo">
    	select * from user_info where openid=#{openid}
    </select>
   <!-- 用户退出登陆,并删除其所有信息，推出后得重新授权 -->
   <delete id="logout" parameterType="String">
   	delete  from user_info where openid=#{openid}
   </delete>
</mapper>